/* index.html */
body {
  /* background-image: url("../images/blurredStreet.jpeg"); */
  background: url("../images/blurredStreet.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  text-align: center;
  background: lightblue;
}

h3 {
  color: white;
}

#date,
.whiteFont {
  /* background: lightgray; */
  text-align: center;
  color: white;
  font-weight: 800;
}

#zip {
  text-align: center;
  margin: auto;
  color: white;
}

#instructions {
  max-width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

#searchSubmit {
  width: 25%;
  margin: auto;
}

#signInBtn {
  margin: 0 auto;
  width: 10%;
}

.g-signin2 {
  width: 100%;
}

.g-signin2 > div {
  margin: 0 auto;
}
.modal-title {
  text-align: center;
}

#poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#fandangoBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
