#signInPage {
  background-image: url("../images/blurredStreet.jpeg");
  background-size: cover;
}

#optionsPage {
  background-image: url("../images/blurredStreet.jpeg");
  background-size: cover;
}

#resultsPage {
  background-image: url("../images/blurredStreet.jpeg");
  background-size: cover;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
}

.jumbotron {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#email {
  background: grey;
  width: 25%;
  margin: auto;
  margin-top: 30px;
}

.about, .instructions, .results {
  background: lightgray;
  width: 25%;
  margin: auto;
  margin-top: 30px;
}

#meal-results, #movie-results, #event-results {
  background: lightgray;
  width: 25%;
  margin: auto;
  margin-top: 30px;
}

.submit {
  width: 25%;
  margin: auto;
}

#topContainer {
  float: left;
  width: 33%;
}

#instructions {
  background: lightgray;
  text-align: center;
}

#date {
  background: lightgray;
  text-align: center;
}

#zip {
  background: lightgray;
  text-align: center;
}
