body {
  background-image: url("../images/blurredStreet.jpeg");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  text-align: center;
}

#instructions {
  background: red;
  text-align: center;
  font-size: 10px;
  /*begin options.html*/
}

#optionsPage {
  font-family: "Montserrat", sans-serif;
}

#date {
  background: lightgray;
  text-align: center;
}

#zip {
  float: left;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  margin: auto;
}

#movie {
  background: lightgray;
  float: left;
  border-radius: 25px;
  padding: 15px;
  text-align: center;

  margin: auto;
}

#event {
  clear: both;
  background: lightgray;
  text-align: center;
}

#instructions {
  background: lightgray;
  max-width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
}

#topContainer {
  margin-top: 20px;
}

#event {
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  max-width: 75%;
  border-radius: 25px;
}
/*end options.html*/
